// 初始化的代码
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 缩放网页，文字大小不变 */
    -webkit-text-size-adjust: none;
}

ul {
    list-style: none;
}

img {
    border: 0 none;
    // 使图片和文本对齐
    vertical-align: middle;
}

a {
    color: #000000;
    text-decoration: none;
}

body {
    // max-width: 640px;
    width: 100%;
    margin: 0 auto;
}


/*我们约定将UI稿件按20份来划分*/
@media only screen and (max-width: 1080px),
only screen and (max-device-width: 1080px) {

    html,
    body {
        font-size: 54px;
    }
}

@media only screen and (max-width: 960px),
only screen and (max-device-width: 960px) {

    html,
    body {
        font-size: 48px;
    }
}

@media only screen and (max-width: 800px),
only screen and (max-device-width: 800px) {

    html,
    body {
        font-size: 40px;
    }
}

@media only screen and (max-width: 720px),
only screen and (max-device-width: 720px) {

    html,
    body {
        font-size: 36px;
    }
}

@media only screen and (max-width: 640px),
only screen and (max-device-width: 640px) {

    html,
    body {
        font-size: 32px;
    }
}

@media only screen and (max-width: 600px),
only screen and (max-device-width: 600px) {

    html,
    body {
        font-size: 30px;
    }
}

@media only screen and (max-width: 540px),
only screen and (max-device-width: 540px) {

    html,
    body {
        font-size: 27px;
    }
}

@media only screen and (max-width: 480px),
only screen and (max-device-width: 480px) {

    html,
    body {
        font-size: 24px;
    }
}

@media only screen and (max-width: 414px),
only screen and (max-device-width: 414px) {

    html,
    body {
        font-size: 20.700000000000003px;
    }
}

@media only screen and (max-width: 400px),
only screen and (max-device-width: 400px) {

    html,
    body {
        font-size: 20px;
    }
}

@media only screen and (max-width: 375px),
only screen and (max-device-width: 375px) {

    html,
    body {
        font-size: 18.75px;
    }
}

@media only screen and (max-width: 360px),
only screen and (max-device-width: 360px) {

    html,
    body {
        font-size: 18px;
    }
}

@media only screen and (max-width: 320px),
only screen and (max-device-width: 320px) {

    html,
    body {
        font-size: 16px;
    }
}